<div class="container">
  <div class="row">
    <div class="col">
      <p class="alert alert-info mt-4">
        {{title | summary : 250}}
      </p>
      <p class="alert alert-info mt-4">
        {{title | summary : 20}}
      </p>
      <p class="alert alert-info mt-4">
        {{title | summary }}
      </p>
      <!-- <p class="alert alert-info mt-4">
        {{title | lowercase}}
      </p>
      <p class="alert alert-info mt-4">
        {{title | titlecase}}
      </p> -->
    </div>
  </div>
  <hr>
  <!-- <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          {{course.title | uppercase | lowercase | titlecase}}
        </div>
        <div class="card-body">
          <p>
            {{course.students | number}}
          </p>
          <p>
            {{course.rating | number : '2.2-2' }}
          </p>
          <p>
            {{course.price | currency }}
            {{course.price | currency : "INR"}}
            {{course.price | currency : "EUR"}}
            {{course.price | currency : "AUD"}}

          </p>
          <p>
            {{course.releaseDate | date:'mediumDate' }}
          </p>
          <p>
            {{course.releaseDate | date:'long' }}
          </p>
          <p>
            {{course.releaseDate | date:'short' }}
          </p>
          <p>
            Moment Time {{momentTime}}
          </p>
          <p>
            Moment Time {{momentTime.format('dddd')}}
          </p>
          <p>
            Moment Time {{momentTime.format('dddd')}}
          </p>
          <p>
            {{momentTime.startOf('hour').fromNow()}}
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-4" *ngFor="let file of filesArray">
      <div class="card">
        <div class="card-body">
          <p>
            <a href="javascript:;">
              {{file.name}}
            </a>
          </p>
          <p>
            {{file.size | fileSize }}
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- uppercase , lowercase, titlecase, currancy, perc, number, date -->